@import url('https://fonts.googleapis.com/css2?family=Poppins:100,200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}


.lightwidget-widget {
    width: 100%;
    border: 0;
    overflow: hidden;
    }


:root {
    background-image: url('bgsite.jpg');
    background-size: cover;
}

body{
    display: flex;
    justify-content: center;

}

header{
    height: 100vh;
    width: 100vw;
    background-image: url('bgsite.jpg');
    background-size: cover;   
}



.logo{
    position: absolute;
    width: 203px;
    height: 195px;
    top: 1.5%;
    background: transparent;
    display: flex;
    color: white;
    z-index: 1000;
}

.navigation{
    position: absolute;
    max-width: 1200px;
    height: 70px;
    top: 35%;
    background: #FF1493;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.navigation ul{
    display: flex;
    width: 360px;
}
.navigation ul li {
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}
.navigation ul li a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}
.navigation ul li a .icon{
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: white;
}
.navigation ul li.active a .icon{
    color: var(--clr);
    transform: translateY(-32px);
}
.navigation ul li a .text{
    position: absolute;
    color: white;
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
}
.navigation ul li.active a .text{
    opacity: 1;
    transform: translateY(10px);
}
.indicator{
    position: absolute;
    top: -40%;
    width: 60px;
    height: 60px;
    background: #29fd53;
    border-radius: 50%;
    border: 6px solid var(--clr);
    transition: 0.5s;
}
.indicator::before{
    content: '';
    position: absolute;
    top: 44%;
    left: -22.5px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-right-radius: 20px;
    box-shadow: 2px -10px 0 0 var(--clr);
}
.indicator::after{
    content: '';
    position: absolute;
    top: 44%;
    right: -22.5px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-left-radius: 20px;
    box-shadow: -1px -10px 0 0 var(--clr);
}

.navigation ul li:nth-child(1).active ~ .indicator {
    transform: translateX(calc(60px * 0));
}
.navigation ul li:nth-child(2).active ~ .indicator {
    transform: translateX(calc(60px * 1));
}
.navigation ul li:nth-child(3).active ~ .indicator {
    transform: translateX(calc(60px * 2));
}
.navigation ul li:nth-child(4).active ~ .indicator {
    transform: translateX(calc(60px * 3));
}
.navigation ul li:nth-child(5).active ~ .indicator {
    transform: translateX(calc(60px * 4));
}
.navigation ul li:nth-child(6).active ~ .indicator {
    transform: translateX(calc(60px * 5));
}


.container-main{
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    max-width: 1200px;
    margin-top: 22em;
    margin-bottom: 5em;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.599);
}

.container-logotipo{
    text-align: center;
    border: 5px solid yellow;
}

.container-menu{
    border: 5px solid white;

}

.redes{
    text-align: center;
    background-color: rgb(207, 245, 244);
    margin: 10px 0;
    margin-top: 0;
    border-radius: 10px;
}

.redes ion-icon {
    padding: 10px;
    font-size: 30px;
    color: #3a60ab;
}

.container-section{
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #3a60ab;
    border-radius: 10px;
}

.container-section .live .barra{
    border: 2px solid rgb(244, 248, 6);
}

.live{
    display: flex;
    width: 50%;
    align-items: center;
    margin: 20px;
    border-radius: 20px;
}

.programacao {
    width: 50%;
    margin: 20px;
}

.container-banner img{
    margin: 10px 0;
    width: 100%;
    border-radius: 10px;
    padding: 0;
}

.container-insta{
    margin: 20px 0;
}

.container-insta .title{
    color: white;
    font-size: 26px;
    background-color: #3a60ab;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
}

.container-news {
    color: white;
    font-size: 26px;
    background-color: blueviolet;
    padding: 10px 0;
    margin: 10px 0;
    border-radius: 10px;
}

.container-main .rodape{
    border: 2px solid rebeccapurple;
    text-align: center;
    justify-content: center;
}


footer{
    background-color: #096fc4;
    padding: 50px 0;
    border-radius: 10px;
}
.container-footer{
    max-width: 1400px;
    padding: 0 4%;
    margin: auto;

}
.row-footer{
    display: flex;
    flex-wrap: wrap;
    
}

.footer-col{
    width: 25%;
    padding: 0 15px;

}
.footer-col h4{
    font-size: 22px;
    color: white;
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
}
.footer-col ul{
    list-style: none;
}
.footer-col ul li{
    margin: 10px 0;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #cecdcd;
    padding-left: 10px;
}
.footer-col .medias-socias{
    margin-top: 30px;
}
.footer-col .medias-socias a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    text-decoration: none;
    border-radius: 50%;
    color: white;
    border: 1px solid white;
    transition: all 0.5s ease;
}
.footer-col .medias-socias a i{
    font-size: 20px;
}

.footer-col .medias-socias a:hover{
    color: #415aca;
    background-color: white;
}
.footer-col .form-sub input{
    width: 100%;
    padding: 10px;
    font-size: 15px;
    outline: none;
    border: 1px solid white;
    color: white;
    background-color: #415aca;
}
.footer-col .form-sub input::placeholder{
    color: white;
}
.footer-col .form-sub button{
    width: 100%;
    margin-top: 10px;
    padding: 10px; 
    font-size: 17px;
    outline: none;
    border: none;
    cursor: pointer;
    color: #415aca;
    border-radius: 3px;
    font-weight: bold;
    background-color: white;        
}
/* Responsivo */
@media (max-width: 800px) {
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media (max-width:600px) {
    .footer-col{
        width: 100%;
    }
}


@media screen and (max-width: 414px) {
    .container-section{
        display: block;
        margin: 0;
    }
    
    .live{
        width: 100%;
        height: auto;
        margin: 0;
    }
    .programacao{
        width: 100%;
        height: auto;
        margin: 0;
        text-align: center;
    }
    .container-banner img{
        width: 100%;
        margin: 10px 0;
        text-align: center;

    }
}





@media screen and (max-width: 2560px) {
    .navigation{
        top: 250px;
        width: 95%;
    }
    .container-main{
    text-align: center;
    width: 95%;
    }
    .container-banner img{
    text-align: center;
    width: 100%;
    }
}











